<article class="navbarfondo">
<section class="navbar1">
    <a href="/movies"><img class="logo" src="/images/moviesLogo.png" alt="logo"></a>
    <form action="/movies/resultados" method="POST">
        <input class="buscador" name="buscar" type="text" placeholder="Buscar...">
        <button class="boton" type="submit"><i class="fas fa-search lupa"></i></button>
    </form>
</section>
<section class="navbar2">
    <a href="/movies">Películas</a>
    <a href="/movies/new">Nuevas</a>
    <a href="/movies/recommended">Recomendadas</a>
    <a href="/movies/create">Crear</a>
    <a href="/movies/linkactor">Linkear</a>
</section>
</article>